/* Setup */
@import 'setup/vars.css';
@import 'setup/font-face.css';

/* Basic */
@import 'basic/base.css';

@import 'basic/buttons.css';
@import 'basic/icons.css';
@import 'basic/helpers.css';
/* @import '/css/basic/layout.css'; */

@import 'cmpts/header.css';
@import 'cmpts/scroll-bar.css';



* {
    box-sizing: border-box;
}

/* base.css */
html {
    /* color:black; */
    /* color:var(--clr0); */
    padding: 0;
    font-family: 'Montserrat', bold;
    font-size: 16px;
    background-color: var(--clr1);

    /* letter-spacing: 0.48px;
    line-height: 1.13; */

}

img {
    width: 100%;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em;
} */


body {
    margin: 0;
}

a {
    color: black;
}

button {
    font-family: inherit;
    cursor: pointer;
    font-size: 1em;
}

.editor-container {
    margin: 20px;
}

/* gallery search bar */
.search-bar-input {
    height: 57px;
    margin: 25px;
    /* box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff; */
    border-radius: 28px;
    background-color: var(--clr1);
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}


/* end base.css */
.main-gallery{
    height: 100%;
}

/* nav */
.main-header {
    /* background-color: aquamarine; */
    width: 100%;


}

.header-container {
    display: flex;
    margin: 15px auto;
    /* Style for "Rectangle" */
    /* /* width: 1257px; */
    /* height: 100px; */
    border-radius: 55px;
    width: 99vw;
    /* background-color: #5970c1; */
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    height: 10vh;
}

.nav-list li {
    margin: 10px;
}

.nav-list a {
    padding: 11px;
    text-decoration: none;
    color: var(--clr0);
    font-size: 1.25em;
}

.nav-list a:hover {
    padding: 10px;
    font-style: bold;
    border-radius: 40px;
    border: 1px solid var(--clr4);
    background-color: var(--clr4);
    color: var(--clr3);
}

.nav-list li:last-child {
    margin-right: 14em;
}

.header-container img {
    width: 100px;
    height: 100px;
    margin: 10px 0px 0px 10px;

}

.main-layout {
    height: 100vh;
    margin-left: auto;
    margin-right: auto;

}

.canvas-container {
    border-radius: 20px;
    /* /* width: 35vw; */
    /* width: 50%; */
    margin: 0 20px 0 25%;
    /* border: #585858 5px solid; */
}

.main-canvas,
.tool-box {
    border-radius: 20px;
}

.gallery-area {
    /* Style for "Rectangle" */
    border-radius: 10px;
    background-color: var(--clr2);
    margin-top: 15px;
    width: 98vw;
}

/* gallery grid */
.grid-container {
    display: grid;

    grid-auto-rows: auto;
    grid-auto-flow: dense;
    gap: 10px;
    padding: 60px;

    margin: 0 auto;

    /* height: 100vh; */
}

@media (min-width:1200px) {
    .grid-container {
        grid-template-columns: repeat(4, minmax(200px, 1fr));
    }
}

.grid-container img {
    /* border: 5px solid rgb(0, 0, 0); */
    border-radius: 30px;
}

.font-color-input,.stroke-color-input{
  opacity: 0;
 width:0;
 height: 0;

}

/* tool box */
.tool-box {
    flex-direction: column;
    padding: 20px;
    margin-left: 20px;
    background-color: var(--clr2);
    width: 20vw;
}

/* input text line */
.text-line {
    width: 100%;
    height: 57px;
    /* box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff; */
    border-radius: 28px;
    background-color: var(--clr5);
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

/* main div of first buttons area  */
.text-line-btns,
.main-formating {
    margin-bottom: 10px;
    align-self: center;
    /* width: 100%; */
}

.main-formating {
    padding: 10px;
    background-color: #525252;
    border-radius: 10px;
}

/* .move-up-btn{
    width: 3em;
} */

.second-line-btns {
    margin-bottom: 20px;
}

/* choose font btn */
.choose-font-btn {
    /* width: 100%; */
    /* height: 57px; */
    /* box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff; */
    border-radius: 28px;
    background-color: var(--clr5);
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}


.move-up-btn,
.move-down-btn,
.switch-btn,
.add-line-btn,
.delete-btn,
.bigger-font-btn,
.smaller-font-btn,
.align-left-btn,
.align-center-btn,
.align-right-btn, .color-picker, .stroke-picker{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100px;
    /* outline: none; */
    /* background: #b71540; */
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    /* color: white;  */
    cursor: pointer;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); */
}

/* .my-button:hover {
    /* background: #eb2f06; */
/* }  */

.download-section a {
    color: antiquewhite;
    cursor: pointer;
}

/* .stroke {
    margin-left: 133px;
}

.color {
    margin-left: 10px;
} */






.stickers-container{
   

}

.stickers-container img{
    width: 15%;
    margin: 10px;
    border-radius: 10px;
    

}