
.saved-memes-grid, .grid-container{
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 15px;
    padding: 20px;
    margin: 0 auto;  
    width: 97%;
    height: 97%;
    background-color: var(--clr2);
    border-radius: 10px;
    margin-top: 15px;
}

.saved-memes-grid img, .grid-container img {
    border-radius: 30px;
    cursor: pointer;
   }

.saved-memes-grid img:hover,.grid-container img:hover{
    opacity: 0.8;
}
