:root {
    /* pallete */
    /* header color */

    /* brand color */
    --clr0: #ffffff;

    /* main background and scroll bar */
    --clr1: #22252c;

    /* gallery background */
    --clr2: #383b42;

    /* button hover font */
    --clr3: #21ac91;

    /* button hover background */
    --clr4: #fefefe;

    /* text area background */
    --clr5: #ebeef3;

}